div(class='footer ed-grid m-grid-2 lg-grid-3 row-gap')
	ul.footer__list
		li(class='footer__list--li'): a(href='house-rules.html' target='_blank' class='footer__list--a') House rules
	ul.footer__list
		li(class='footer__list--li'): a(href='sport-rules.html' target='_blank' class='footer__list--a') sport rules
		
	ul.footer__list
		li(class='footer__list--li'): a(href='reports.html' target='_blank' class='footer__list--a') reports

